html {
    font-size: 16px;
    font-weight: 700;
    font-family: Lato;
    color: #1E212C;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.burger {
    display: none;
}

.button {
    color: #fff;
    line-height: 52px;
    letter-spacing: 0.5px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    padding: 0 40px;
    display: inline-block;
    transition: all .3s;
    white-space: nowrap;
    will-change: transform;
}

.button:hover {
    transform: scale(1.1);
}

.button--empty {
    border-left: 2px solid #FF3F3A;
    border-right: 2px solid #F75E05;
    background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
    background-image: linear-gradient(left, #FF3F3A, #FF3F3A), linear-gradient(left, #FF3F3A, #F75E05);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
    border-radius: 4px;
}

.button--empty span {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.subtitle {
    line-height: 150%;
    letter-spacing: 1;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.header__header {
    /* padding-top: 20px; */
}

.main__about {
    padding: 180px 0px 160px 0px;
}

.main__directions {
    padding-bottom: 160px;
}

.main__cert {
    margin-bottom: -46px;
}

.main__team {
    padding-bottom: 180px;
    padding-top: 160px;
}

.main__testi {
    padding-bottom: 195px;
}

.main__students {
    padding-bottom: 180px;
}

.main__program {
    padding-top: 120px;
    padding-bottom: 180px;
}

.main__blog {
    padding-bottom: 213px;
}

.main__info {
    padding-bottom: 180px;
}

.main__questions {
    padding-bottom: 180px;
}

/* ---------------------------HEADER TOP---------------------------------------- ---------------------------HEADER TOP----------------------------------------  */
/* ---------------------------HEADER TOP---------------------------------------- ---------------------------HEADER TOP----------------------------------------  */

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../images/decor/shapes.svg") 50% 0 / cover no-repeat, linear-gradient(55.95deg, rgb(255, 63, 58, 0.2) 0%, rgb(247, 94, 5, 0.2) 100%);
}

.header__top {
    padding-top: 40px;
}

.header__logo {
    margin-right: 60px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
    align-items: center;
    white-space: nowrap;

}

.header__nav-item {
    margin-right: 40px;
    color: #424551;
}

.header__nav-item:last-child {
    margin-right: 0;
}


.header__nav-link {
    display: block;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__button {
    margin-right: 64px;
}

.header__user {
    position: relative;
    display: flex;
    align-items: center;

}

.header__user::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background: url("../images/icons/Person.svg") 0 0 no-repeat;
    margin-right: ;
    padding-right: 28px;

}

.header__user-log {
    transition: all .3s;
}

.header__user-log:hover {
    color: #FF3F3A;

}

.header__user-reg {
    transition: all .3s;
}

.header__user-reg:hover {
    color: #FF3F3A;
}

/* ---------------------------HEADER BODY---------------------------------------- ---------------------------HEADER BODY---------------------------------------  */
/* ---------------------------HEADER BODY---------------------------------------- ---------------------------HEADER BODY---------------------------------------  */

.header__body {}

.header__body-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__body-content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;
}

.header__play-icon {
    margin-right: 16px;
    transition: all .3s;
}

.header__play-icon:hover {
    box-shadow: 0 0 0 12px rgb(255, 63, 56, 0.12);
    ;
    border-radius: 50%;
}

.header__play-text {
    line-height: 150%;
    font-size: 14px;
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__body-buttons {
    display: flex;
    align-items: center;
}

.header__body-button {
    margin-right: 24px;
}

.header__body-button:last-child {
    margin-right: 0;
}


/* ---------------------------HEADER BOTTOM---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------HEADER BOTTOM---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */


.header__bottom-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header__bottom-item {
    display: flex;
    align-items: center;
    font-weight: 400;
    position: relative;
}


.header__bottom-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-right: 12px;
}

.header__bottom-ball {
    background: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

/* ---------------------------------ABOUT---------------------- */
/* ---------------------------------ABOUT---------------------- */


.about {
    position: relative;
}

.about::after {
    content: "";
    width: 100px;
    height: 100px;
    background: url("../images/decor/tapes1.svg") no-repeat;
    position: absolute;
    top: 10%;
    right: 0;
}

.about__heading {
    margin-bottom: 48px;
}

.about__inner {}

.about__school {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 180px;
}

.about__content {
    max-width: 600px;
    margin-right: 30px;
}


.about__small-text {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
}

.about__big-text {
    font-weight: 400;
    color: #424551;
    margin-bottom: 60px;
    line-height: 160%;
}

.about__button-box {
    display: flex;
    align-items: center;
}

.about__button {
    margin-right: 24px;
}

.about__button:last-child {
    margin-right: 0;
}

.about__values {
    display: flex;
    justify-content: space-between;

}

.about__values-image {
    margin-right: 30px;
}

.about__values-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__values-list {
    align-self: center;
}

.about__values-item {
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    white-space: nowrap;
}

.about__values-item:last-child {
    margin-bottom: 0;
}

.about__values-item span {
    color: #FF3F3A;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    margin-right: 16px;
}

/* ---------------------------------DIRECTIONS---------------------- */
/* ---------------------------------DIRECTIONS---------------------- */

.directions {
    background: url("../images/decor/tapes2.svg") 5% 0 no-repeat;
}

.directions__inner {}

.directions__heading {
    text-align: center;
    margin-bottom: 90px;
}

.directions__buttons-inner {
    display: flex;
    margin-right: 50px;
    align-items: center;
}

.direction__buttons-item {}

.directions__button-link {
    background: transparent;
    line-height: 160%;
    color: #9A9CA5;
    border: 1px solid #9A9CA5;
    border-radius: 4px;
    padding: 0px 7px;
    margin-right: 50px;
    margin-bottom: 57px;
    font-size: 16px;
    white-space: nowrap;
}

.directions__button-link--active {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: #fff;
    border: none;
    padding: 1px 8px;
}

.directions__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
}

.directions__cards-item {
    border: 1px solid #E5E8ED;
    border-top: none;
    border-radius: 4px;
}

.directions__cards-item:hover {}

.directions__cards-item--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.directions__cards-item--empty a {
    color: #424551;
    font-size: 20px;
    line-height: 150%;
    max-width: 240px;
}

.directions__cards-item:hover .directions__cards-link {
    color: #FF3F3A;
}

.directions__cards-image {
    overflow: hidden;
}

.directions__cards-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.directions__cards-content {
    padding: 24px;
}

.directions__cards-tag {
    line-height: 160%;
    color: #fff;
    background: #03CEA4;
    border-radius: 4px;
    display: inline-block;
    padding: 1px 8px;
    margin-bottom: 20px;

}

.directions__cards-text {
    font-weight: 400;
    color: #787A80;
    line-height: 160%;
    margin-bottom: 20px;
}

.directions__cards-link {
    line-height: 160%;
    position: relative;
    transition: all .3s;
}

.directions__cards-link::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../images/icons/arrow_right.svg") 0 0 no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -35px;
}

.directions__cards-item--empty {}

.directions__cards-tag--management {
    background-color: #5A87FC;
}

.directions__cards-tag--hr {
    background-color: #F89828;
    ;
}

.directions__cards-tag--design {
    background-color: #F52F6E;
    ;
}

.directions__cards-tag--development {
    background-color: #7772F1;
}

/* ---------------------------------CERTIFICATE---------------------- */
/* ---------------------------------CERTIFICATE---------------------- */


.cert {
    position: relative;
}

.cert::before {
    width: 100px;
    height: 100px;
    content: "";
    background: url("../images/decor/tapes4.svg") 0 0 no-repeat;
    position: absolute;
    top: -5%;
    left: 5%;
}

.cert__inner {
    display: flex;
    justify-content: space-between;
}

.cert__content {
    max-width: 392px;
    margin-right: 30px;
}

.cert__heading {
    margin-bottom: 48px;
}

.cert__text {
    font-weight: 400;
    line-height: 160%;
    color: #424551;
    margin-bottom: 32px;
}

.cert__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cert__icons-item {
    margin-right: 15px;
}

.cert__icons-item:last-child {
    margin-right: 0;
}

.cert__image-box {}

.cert__image-box img {
    width: 100%;
    height: 100%;
}


/* ---------------------------TEAM---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------TEAM---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */

.team {
    background: url("../images/decor/team_bg.svg") 0 -200px / 100% no-repeat, #F4F5F7;
}

.team__heading {
    margin-bottom: 60px;
    position: relative;
}

.team__inner {}

.team__slider {}

.team__slider .slick-list {
    margin: 0 -15px;

}

.team__slide {
    padding: 0 15px;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}

.team__image-box {
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

.team__image-box img {
    object-position: top;

}

.team__image {
    position: relative;
    height: 340px;
}

.team__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.team__socials {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    transform: translateY(50%);
    transition: all .3s;
}

.team__socials-item {
    margin-right: 14px;
}

.team__socials-item:last-child {
    margin-right: 0;
}

.team__socials-link {}

.team__socials-link path {
    transition: all .3s;
}

.team__socials-link:hover path {
    fill: #fff;
}

.team__info {
    text-align: center;
}

.team__name {
    font-size: 20px;
    line-height: 150%;
    color: #424551;
    margin-bottom: 4px;
}

.team__position {
    font-weight: 400;
    color: #787A80;
    line-height: 160%;
}



.team__slider-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.team__slider-arrow {
    position: relative;
    z-index: 5;
    margin-right: 30px;
}

.team__slider-arrow path {
    transition: all .3s;
}

.team__slider-arrow:hover path {
    fill: #fff;
}

.team__slider-arrow:last-child {
    margin-right: 0px;
}

.team__slider-arrow::after {
    content: "";
    width: 48px;
    height: 48px;
    background: #FF3F3A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    border-radius: 50%;
    transition: all .3s;
}

.team__slider-arrow:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

/* ---------------------------TESTIMONIALS---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------TESTIMONIALS---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */

.testi {
    background: url("../images/decor/testi__bg.svg") 200% 100% no-repeat, #F4F5F7;
}

.testi__inner {}

.testi__heading {
    text-align: center;
    margin-bottom: 60px;
}

.testi__slider-wrapper {
    position: relative;
}

.testi__slider {
    max-width: 1020px;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
}

.testi__slider .slick-list {
    margin: 0px 10px;
}

.testi__slider-inner {
    max-width: 810px;
    margin: 0 auto;
    padding-left: 58px;
}

.testi__slide {
    padding: 64px;
    background: #fff;
}

.testi__slide-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
    color: #424551;
    position: relative;
}

.testi__slide-text::before {
    content: "";
    width: 28px;
    height: 20px;
    background: url("../images/icons/braces.svg") 0 0 / 100% no-repeat;
    position: absolute;
    top: 0;
    left: -58px;

}

.testi__slide-avatar {
    display: flex;
    align-items: center;
}

.testi__slide-image {
    margin-right: 20px;
}

.testi__slide-info {}

.testi__slide-name {
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 4px;
}

.testi__slide-positon {
    font-size: 14px;
    font-weight: 400;
    color: #787A80;
    line-height: 150%;
}

.testi__slide-prev {
    left: 0;
}

.testi__slide-next {
    right: 0;
    justify-content: flex-end;
}

.testi__slide-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    display: flex;
    align-items: center;
    transition: all .3s;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testi__slide-arrow::after {
    content: "";
    width: 48px;
    height: 48px;
    background: #FF3F3A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    border-radius: 50%;
    transition: all .3s;
}

.testi__slide-arrow:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.testi__slide-arrow:hover path {
    fill: #fff;
}

.testi__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.testi__dots .slick-dots {
    display: flex;

}

.testi__dots button {
    font-size: 0;
    background: transparent;
    width: 30px;
    height: 30px;
}

.testi__dots li {
    width: 30px;
    height: 3px;
    background: #B3B7BC;
    margin-right: 12px;
    border-radius: 4px;
}

.testi__dots .slick-active {
    background: #424551;
}

/* ---------------------------STUDENTS---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------STUDENTS---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */


.students {
    background: #F4F5F7;
}

.students__inner {}

.students__heading {
    text-align: center;
    margin-bottom: 60px;
}

.students__logos {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px 8.1%;

}

.students__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.students__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    opacity: 0.4;
    transition: .4s;
}

.students__item:hover img {
    filter: grayscale(0);
    opacity: 1;

}

/* ---------------------------PROGRAM---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------PROGRAM---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */



.program {}

.program__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program__content {
    margin-right: 40px;
}

.program__heading {
    margin-bottom: 60px;
}

.program__accordeon {}

.program__accordeon-item {
    max-width: 560px;
    padding-left: 38px;
}

.program__accordeon-link {
    width: 30px;
    height: 30px;
}

.program__accordeon-link--active .program__accordeon-title::after {
    transform: rotate(0deg);
}

.program__accordeon-title {
    position: relative;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 16px;
}

.program__accordeon-title::after {
    content: "";
    width: 18px;
    height: 2px;
    border-radius: 4px;
    background: #FF3F3A;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: -38px;
    transform: rotate(90deg);
    transition: all .3s;
}

.program__accordeon-title::before {
    content: "";
    width: 18px;
    height: 2px;
    border-radius: 4px;
    background: #FF3F3A;
    position: absolute;
    top: 50%;
    left: -38px;
}

.program__accordeon-title span {
    color: #FF3F3A;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.program__accordeon-text {
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 24px;
    color: #424551;
}

.program__image-box {}

.program__image-box img {
    width: 100%;
    height: 100%;
}

/* ---------------------------BLOG---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------BLOG---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */

.blog {}

.blog__inner {}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.blog__heading {
    margin-right: 30px;
}

.blog__button {}

.button {}

.blog__row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.blog__item {
    max-width: 420px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    transition: all .3s;
}

.blog__item:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);

}

.blog__item-link {}

.blog__item-image {
    margin-bottom: 16px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.blog__item-image span {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
    background: #fff;
    border-radius: 4px;
    padding: 1px 8px;
    display: flex;
    align-items: center;
}

.blog__item-image span::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.blog__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog__item-content {}

.blog__item-info {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    margin: 0 -12px;
    margin-bottom: 8px;
}

.blog__item-element {
    padding: 0 12px;
    position: relative;
}

.blog__item-element::after {
    content: "";
    width: 1px;
    height: 12px;
    background: #787A80;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.blog__item-element:last-child::after {
    content: none;
}

.blog__item-dir {}

.blog__item-mounth {
    display: flex;
    align-items: center;
}

.blog__item-mounth::before {
    content: "";
    background: url("../images/icons/date.png") 0 0 / 100% no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 8px;
}

.blog__item-time {
    display: flex;
    align-items: center;
}

.blog__item-time::before {
    content: "";
    background: url("../images/icons/time.svg") 0 0 / 100% no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 8px;
}

.blog__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
}

.blog__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 16px;
}

.blog__item-button {
    display: flex;
    align-items: center;

}

.blog__item-button::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../images/icons/arrow_right.svg");
    display: block;
    margin-left: 8px;
}

.blog__item--podcast .blog__item-image span::before {
    background: url("../images/icons/micro.svg") 0 0 / 100% no-repeat;
}

.blog__item--video .blog__item-image span::before {
    background: url("../images/icons/video.svg") 0 0 / 100% no-repeat;
}

.blog__item--article .blog__item-image span::before {
    background: url("../images/icons/article.svg") 0 0 / 100% no-repeat;
}

/* ---------------------------INFO---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------INFO---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */



.info {}

.info__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.info__content {
    margin-right: 40px;
}

.info__heading {
    margin-bottom: 40px;
}

.info__contacts {
    margin-bottom: 48px;
}

.info__contacts-item {
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    padding-left: 36px;
    position: relative;
    margin-bottom: 24px;
}

.info__contacts-item::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.info__contacts-item a {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
}

.info__contacts-item--chat {}

.info__contacts-item--chat::before {
    background: url("../images/icons/talk.svg");
}

.info__item-mail {}

.info__contacts-item--phone {}

.info__contacts-item--phone::before {
    background: url("../images/icons/phone.svg");
}

.info__contacts-number {}

.info__contacts-item--addres {}

.info__contacts-item--addres::before {
    background: url("../images/icons/location.svg");

}

.info__contacts-addres {}

.info__socials {
    white-space: nowrap;
}

.info__socials-title {
    margin-bottom: 25px;
    text-transform: uppercase;
    line-height: 150%;

}

.info__socials-list {
    display: flex;
    align-items: center;
}

.info__socials-item {
    margin-right: 32px;
}

.info__socials-link {}

.info__socials-link path {
    transition: all .3s;

}

.info__socials-link:hover path {
    fill: #FF3F3A;
}

.info__map {
    max-width: 705px;
    max-height: 402px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}


/* ---------------------------INFO---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------INFO---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */

.questions {}

.questions__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions__image {}

.questions__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.questions__content {
    margin-left: 30px;
    width: 705px;
}

.questions__heading {
    margin-bottom: 40px;
}

.questions__form {}

.questions__input-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 24px;
}

.questions__input-item {}

.questions__input-label {
    font-weight: 400;
    line-height: 160%;
    color: #424551;
}

.questions__input {
    width: 100%;
}

.questions__input {
    color: #9A9CA5;
    border: 1px solid #D7DADD;
    padding: 13px 16px;
    border-radius: 4px;
    margin-top: 8px;
}

.questions__textarea-label {
    font-weight: 400;
    line-height: 160%;
    color: #424551;
}

.questions__textarea {
    color: #9A9CA5;
    border: 1px solid #D7DADD;
    padding: 13px 16px;
    border-radius: 4px;
    margin-top: 8px;
    display: block;
    width: 100%;
    height: 128px;
    resize: none;
}

.questions__form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.questions__form-label {
    margin-right: 50px;
    width: 100%;
    display: flex;

}

.questions__form-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin-right: 12px;
}

.questions__form-default {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

.questions__form-custom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #FF3F3A;
    border-radius: 3px;
}

.questions__form-button {
    width: 100%;
    text-align: center;
}

.questions__form-default:checked+.questions__form-custom {
    background: url("../images/icons/check.svg") 50% 50% no-repeat, #FF3F3A;
}


/* ---------------------------INFO---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------INFO---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */


.footer {}

.footer__top {
    background: #1E212C;
    padding: 80px 0px 63px 0px;
}

.footer__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__top-col {}

.footer__top-logo {
    display: block;
    margin-bottom: 25px;
}

.footer__top-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 42px;
    max-width: 280px;
    opacity: 0.6;
}

.footer__top-text:last-child {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #fff;
}

.footer__socials {
    display: flex;
    align-items: center;
    white-space: nowrap ;
}

.footer__socials-item {
    margin-right: 21px;
}

.footer__socials-link {
    display: block;
}

.footer__socials-link path {
    transition: all .3s;
}

.footer__socials-link:hover path {
    fill: #fff;
}

.footer__top-title {
    text-transform: uppercase;
    line-height: 150%;
    color: #fff;
    margin-bottom: 12px;
    pointer-events: none;
    position: relative;
}

.footer__top-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background: url("../images/icons/arrow__list.svg") 0 0 / 100% no-repeat;
    position: absolute;
    top: 50%;
    right: -20px;
    display: none;
    transform: translateY(-50%) rotate(0deg);
    transition: all .3s;
}

.footer__top-title--active::after {
    transform: translateY(-60%) rotate(90deg);

}


.footer__top-list {}

.footer__top-item {}

.footer__top--tel {
    padding-left: 25px;
    position: relative;

}

.footer__top--tel::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../images/icons/footer_phone.svg");
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0.6;
}

.footer__top--email {
    padding-left: 25px;
    position: relative;
}

.footer__top--email::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../images/icons/email.svg")no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0.6;
    display: block;
    margin-top: 3px;
}

.footer__top-link {
    display: block;
    font-weight: 400;
    line-height: 160%;
    color: #fff;
    opacity: 0.6;
    margin-bottom: 10px;
    transition: all .3s;
}

.footer__top-link:hover {
    opacity: 1;
}

.footer__top-form {
    padding: 12px 0px;
    position: relative;
}

.footer__top-form::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../images/icons/arrow__footer.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.footer__top-input {
    padding: 12px 9px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}


.footer__bot {
    background: #292C37;
    padding: 20px 0px;
}

.footer__bot-inner {
    display: flex;
    justify-content: space-between;
}

.footer__bot-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
    display: flex;
    align-items: center;
}

.footer__bot-text span {
    width: 16px;
    height: 16px;
    background: url("../images/icons/heart.svg") 0 0 / 100% no-repeat;
    display: inline-block;
    margin: 0px 4px;

}

.footer__bot-button {
    text-transform: uppercase;
    opacity: 0.6;
    color: #fff;
    transition: all .3s;
}

.footer__bot-button:hover {
    opacity: 1;
}

/* ---------------------------media---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */
/* ---------------------------media---------------------------------------- ---------------------------HEADER BOTTOM--------------------------------------- .header__bottom {} */


@media(max-width:1200px) {}

@media(max-width:1135px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0003;
        z-index: 80;
        transition: all .7s;
        visibility: hidden;
        opacity: 0;
    }
    
    .overlay--active {
        visibility: visible;
        opacity: 100%;
    }
    
    .burger {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all .4s;
    }

    .burger--active {
        transform: rotate(90deg);
    }

    .burger--active::after {
        transform: rotate(45deg) translate(-2px, 1px);
    }

    .burger--active::before {
        transform: rotate(-45deg) translate(-4px, 1px);
    }

    .burger--follow {
        background: #fff;
        box-shadow: 5px 5px 5px rgb(160, 152, 152);
        top: 30px;
        right: 15px;
    }

    .burger span {}

    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background: #424551;
        border-radius: 3px;
    }

    .burger__center {
        display: block;
        width: 30px;
        height: 4px;
        background: #424551;
        border-radius: 3px;
        margin: 4px 0px;
    }

    .burger__center--active {
        display: none;
    }

    .header {
        padding-top: 92px;
    }

    .header__top {
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        min-width: 320px;
        transform: translateX(100%);
        transition: all .7s;
    }

    .header__top--open {
        transform: translateX(0%);
    }

    .header__top-inner {
        flex-direction: column;
        height: 100%;
        padding: 40px 0px 80px 0px;
        align-items: center;
    }

    .header__logo {
        margin: 0 0 30px 0;
    }

    .header__nav {
        display: flex;
        margin: 0 auto;
    }

    .header__nav-list {
        flex-direction: column;
        height: 100%;
    }

    .header__nav-item {
        margin: 0;
    }

    .header__nav-link {
        padding: 15px;
    }

    .header__btn-box {
        flex-direction: column-reverse;
        align-items: center;
    }

    .header__button {
        margin-right: 0;
    }

    .header__user {
        margin-bottom: 30px;
    }

    .header__body-image img {
        max-width: 470px;
    }

    .header__title {
        font-size: 50px;
        max-width: 378px;
    }

    .header__bottom-item span {
        font-size: 35px;
    }

    .header__bottom-list {
        margin-bottom: 80px;
    }

    /* ----------------ABOUT---------------------------- */


    .about__heading {
        margin-bottom: 20px;
    }

    .about__big-text {
        margin-bottom: 30px;
    }

    .about__heading-title {
        font-size: 35px;
    }

    .about__school-image img {
        max-width: 420px;
    }

    /* ------------------------------CERTIFICATE------------------- */
    .cert__inner {
        flex-direction: column;
        align-items: center;
    }

    .cert__image-box {
        max-width: 600px;
    }

    .cert__content {
        text-align: center;
    }

    .cert__icons {
        margin-bottom: 30px;
    }

    /* ------------------------TESTIMONIALS---------------------------- */
    .testi__slide-arrow {
        display: none;
    }

    /* ------------------------------STUDENTS------------------- */
    .students__logos {
        gap: 40px 5%;
    }

    /* ------------------------PROGRAM---------------------------- */

    .program__image-box {
        max-width: 400px;
    }

    /* ----------------ABOUT---------------------------- */
    .blog__item {
        min-height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .blog__item-info {
        flex-direction: column;
    }

    .blog__item-element::after {
        display: none;
    }

    .blog__item-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* ----------------FOOTER---------------------------- */
    .footer__top-inner {
        flex-wrap: wrap;
    }

    .footer__top-col:last-child {
        flex-basis: 100%;
        max-width: 400px;
        margin-top: 40px;
    }

    .footer__top-col {
        margin-right: 20px;
    }


}

@media(max-width:920px) {
    .header {
        position: relative;
    }

    .header__body-inner {
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
    }

    .header__body-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .header__title {
        font-size: 50px;
        max-width: 500px;
        text-align: center;
    }

    .header__body-image {
        display: none;
    }

    .header__bottom {
        display: none;
    }

    /* --------------------------ABOUT------------------------------ */
    .about__school {
        margin-bottom: 90px;
    }

    .about__school-image {
        display: none;
    }

    .about__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about__school {
        justify-content: center;
    }

    .about__values-image {
        display: none;

    }

    .about__values {
        justify-content: center;
    }

    .about__values-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 80px;
        grid-row-gap: 30px;
        text-align: center;
    }

    .about__values-item {
        margin: 0;

    }


    /* ---------------------------------DIRECTIONS------------------ */
    .directions__buttons-inner {
        margin: 0;
        justify-content: space-between;
    }

    .directions__button-link {
        margin-right: 10px;
    }

    .directions__button-link:last-child {
        margin-right: 0px;
    }

    .direction__buttons-item {
        margin-right: 10px;
    }

    .directions__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }

    /* -----------------------STUDENTS----------------------------- */

    .students__logos {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 40px 7.5%;

    }

    /* ------------------------PROGRAM---------------------------- */
    .program__inner {}

    .program__content {}

    .program__image-box {
        display: none;
    }

    .program__accordeon-title {
        font-size: 25px;
    }

    .program__accordeon-item span {
        font-size: 25px;
    }

    .program__accordeon-item {
        max-width: 900px;
    }

    /* -------------------------------BLOG----------------------------- */
    .blog__item-content {
        margin-bottom: 30px;
    }

    .blog__item-image {
        margin: 0;
    }

    .blog__item-title {
        font-size: 16px;
    }

    .blog__item-text {
        font-size: 14px;
    }

    .blog__item-button {
        font-size: 14px;
    }

    .blog__item-element {
        font-size: 12px;
    }

    /* ---------------------INFO -------------------------------- */

    .info__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .info__content {
        margin-right: 0;
    }

    .info__map {
        width: 100%;
        max-width: none;
        max-height: 300px;
    }

    .info__contacts {
        margin-bottom: 24px;
    }

    .info__socials {
        margin-bottom: 20px;
    }

    /* ---------------------QUESTIONS -------------------------------- */

    .questions__image {
        display: none;
    }

    .questions__content {
        margin: 0;
    }


}

@media(max-width:850px) {
    .team__heading {
        text-align: center;
    }

    .testi__slide {
        padding: 40px;
    }

    .testi__slide-text {
        font-size: 18px;
    }

    /* -----------------------BLOG------------------------- */
    .blog__row {
        flex-direction: column;
        align-items: center;
    }

    .blog__item {
        margin: 0 15px 30px 15px;
    }

    .blog__item-image {}

    /* -----------------------FOOTER------------------------- */

    .footer__top-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__top-col {
        margin: 0;
    }

    .footer__socials {
        margin-bottom: 30px;
        display: inline-flex;
    }

    .footer__top-text {
        max-width: 400px;
    }

    .footer__top-title {
        pointer-events: auto;
    }

    .footer__top-title::after {
        display: block;
    }

    .footer__top-col:last-child .footer__top-title::after {
        content: none;
    }

    .footer__top-list {
        display: none;
    }


}

@media(max-width:700px) {
    .about__values-item {
        font-size: 16px;
    }

    .about__values-item span {
        font-size: 40px;
    }

    .about__values-list {
        grid-column-gap: 25px;
    }

    /* ----------------------------STUDENTS----------------------------- */

    .students__logos {
        margin: 0px 30px;
        gap: 40px 10%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    /* ---------------------------BLOG------------------------------------- */

}

@media(max-width:650px) {
    .directions__cards-text {
        font-size: 14px;
    }

    .directions__cards-tag {
        font-size: 14px;
    }

    .directions__cards-link {
        font-size: 14px;
    }

    .directions__cards-content {
        padding: 24px 10px;
    }

    .directions__buttons-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .directions__button-link {
        margin-bottom: 20px;
    }

    /* ---------------------------TESTIMONIALS----------------------- */

    .testi__slide-text {
        font-size: inherit;
    }

    .testi__slide-image img {
        max-width: 50px;
    }

    .testi__slide-name {
        font-size: 14px;
    }

    /* ---------------------------TESTIMONIALS----------------------- */
    .program__content {
        margin-right: 0;
    }

}

@media(max-width:600px) {
    .header__title {
        font-size: 50px;
        max-width: 400px;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 14px;
    }

    /* -----------------------ABOUT------------------- */
    .about__button {
        font-size: 14px;
        padding: 0 25px;
        line-height: 45px;
    }

    .heading-title {
        font-size: 25px;
    }

    .about__small-text {
        font-size: 16px;
    }

    .about__big-text {
        font-size: 14px;
    }

    .about__values-item {
        font-size: 14px;
    }

    .about__values-item span {
        font-size: 30px;
    }

    /* -----------------DIRECTIONS--------------------- */
    .directions__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, minmax(360px, 1fr));
    }

    .directions__heading {
        margin-bottom: 40px;
    }

    /* -----------------CERTIFICATE--------------------- */
    .cert__icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cert__icons-item:last-child {
        grid-column: 1 / 3;
    }

    /* -----------------TEAM--------------------- */
    .team__slider-arrows {
        display: none;
    }

    .team__slider-dots {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .team__slider-dots .slick-dots {
        display: flex;
    }

    .team__slider-dots li {
        width: 20px;
        height: 3px;
        background: #B3B7BC;
        margin-right: 12px;
        border-radius: 4px;
    }

    .team__slider-dots button {
        font-size: 0;
        background: transparent;
        width: 30px;
        height: 30px;
    }

    .team__slider-dots .slick-active {
        background: #424551;
    }

    /* -----------------TESTIMONIALS--------------------- */
    .testi__slide {
        padding: 30px 15px;
    }

    .testi__dots li {
        max-width: 20px;
    }

    .testi__dots {
        margin-top: 30px;
    }

    /* --------------------------STUDENTS--------------------------- */

    .students__logos {
        gap: 40px 8%;
    }

    /* ----------------------------PROGRAM----------------------------- */
    .program__accordeon-title span {
        font-size: inherit;
    }

    .program__accordeon-title {
        font-size: inherit;
    }

    .program__heading {
        margin-bottom: 30px;
    }

    .program__accordeon-text {
        font-size: 14px;
    }

    /* --------------------------------BLOG--------------------------- */
    .blog__button {
        font-size: inherit;
        line-height: 0;
        padding: 20px 40px;
    }

    /* -----------------QUESTIONS--------------------- */

    .questions__form-label {
        font-size: 14px;
    }




}
@media(max-width:550px){
    .main__about{
        padding: 70px 0px 100px 0px;
    }
    .main__team{
        padding-bottom: 90px;
    }
    .main__testi{
        padding-bottom: 100px;
    }
    .main__students{
        padding-bottom: 60px;
    }
    .main__program{
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .main__blog{
        padding-bottom: 100px;
    }
    .main__info{
        padding-bottom: 100px;
    }
}

@media(max-width:450px) {

    .title {
        font-size: 25px;
    }

    .subtitle {
        font-size: 14px;
    }

    .header__title {
        font-size: 32px;
        margin-right: 0;
    }

    .header__body-buttons {
        flex-direction: column;
        align-items: center;

    }

    .header__body-button {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .button--empty {
        margin-right: 0;
    }

    .about__button-box {
        display: flex;
        flex-direction: column;
    }

    .about__button {
        margin: 10px 0px;
    }

    .about__values-list {
        display: flex;
        flex-direction: column;
    }

    /* ----------------------------TESTIMONIALS-------------------- */
    .testi__slider-inner {
        padding-left: 30px;
    }

    .testi__slide-text {
        font-size: 14px;
        line-height: 130%;
    }

    .testi__slide-text::before {
        width: 20px;
        left: -30px;
        position: absolute;
    }

    /* --------------------------------STUDENTS----------------------- */
    .students__logos {
        gap: 40px 3%;
    }

    /* ----------------------------QUESTIONS-------------------- */
    .questions__input-list {
        grid-template-columns: repeat(1, 1fr);
    }

    /* --------------------------------FOOTER----------------------- */
    .footer__bot-inner{
        flex-direction: column;
    }
    .footer__bot-text{
        margin-bottom: 20px;
        flex-wrap: wrap;
    }


}

@media(max-width:400px) {
    .header__top {
        left: 0;
        transition: all.3s;

    }

    .header__title {
        max-width: 300px;
    }

    /* ------------------------ABOUT---------------------- */

    .about__small-text {
        font-size: 14px;
    }

    .about__big-text {
        font-size: 12px;
    }

    /* ------------------------STUDENTS---------------------- */
    .students__logos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
    }

    /* -------------------------BLOG-------------------------------- */
    .blog__top {
        flex-direction: column;
        align-items: flex-start;
    }

    .blog__button {
        margin-top: 30px;
    }

    /* -------------------------BLOG-------------------------------- */
    .info__contacts-item a {
        max-width: 200px;
    }

    .info__socials-item {
        margin-right: 20px;
    }

    /* ------------------------QUESTIONS---------------------------- */
    .questions__input-label {
        font-size: 14px;
    }

    .questions__form-row {
        flex-wrap: wrap;
    }

    .questions__form-label {
        margin: 0 0 30px 0;
    }

    /* ------------------------FOOTER---------------------------- */
    .footer__top-inner {
        align-items: flex-start;
        text-align: left;
    }

}

@media(max-width:330px) {
    .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 14px;
    }
}