.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100vh;
}
.text__block{
    margin: 0 auto;
    text-indent: 25px;
}
.text__block::first-line{
    font-size:  20px;
    line-height: 30px;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 10px;
    color: rgb(108, 98, 98);
}