*{
    margin:0 ;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
table, thead, tbody, tfoot, tr, td,  caption{
    border: 2px solid rgb(20, 19, 19);
    padding: 5px;
}

